/* Keyframes for animations */
@keyframes fadeInMoveUp {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply animation to elements */
.animated-element {
    animation: fadeInMoveUp 2s ease-out;
}
.button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}
#promarket-title {
    font-size: 3em; /* Make the title larger */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Add space below the title */
    color: #333; /* Set the text color */
}

.content {
    margin-top: 20px; /* Add space above the website content */
}
